.btn-hover{
min-height: 45px; 
width: 140px; 
fx-background-color: rgb(70, 84, 163); 
font-family: "Times New Roman", Times, serif; 
color: white; 
height: 45px; 
font-size: 21px; 
font-weight: 100; 
letter-spacing: 1px;
}
.btn-hover:hover{}